<!--{% extends "eduprod/layout.html" %}-->
<!--{% block body %}-->
<!--<div id="content" data-questions='{{ questions_json|safe }}'></div>-->
<!--<button id="revealBtn">Reveal Answer</button> -->
<!--{% endblock %}-->

<!-- folder1/templates/folder1/target_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder1 Target Page</title>
</head>
<body>
    <h1>This is the Target Page</h1>
</body>
</html>