{% extends "eduprod/layout.html" %}
{% load static %}
{% block body %}
<!-- English-specific content goes here -->
<h1>English</h1>
<p>Welcome to the English page!</p>

<body>
    <div class="logos-container">
      <div class="logo">
        <a href="{% url 'eduprod:engmod1' %}">
          <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
        </a>
      </div>
      <div class="logo">
        <a href="{% url 'eduprod:english' %}">
          <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
        </a>
      </div>
    </div>
  
    <h3></h3>
    <p><strong></strong> </p>
    <p><strong></strong> </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p> </p>
    <p></p>
    <p></p>
  </body>
{% endblock %}