<!DOCTYPE html>
{% extends "eduprod/layout.html" %}
{% load static %}

{% block body %}
<body>

  <h3>Revision Site Instructions</h3>
  <p>Please remember for further assistance, <strong>immediately</strong> go to ICT for help.</p>
  <p>Welcome to the home page of STC's revision site! It is very important to use this site for further revision of year 11 and 12 content! These are the instructions on how to operate this site!</p>
  <p>Everyone will have an admin page, in which they can put in information for revision notes! These tools are sorted and are clearly labeled so that students will be able to detect it. Our school highly encourages active learning, so by having students input the information by themselves, instead of rereading notes, and using that information to further memorise, deep understanding will be gathered. Things like flashcard system, recheck your wrong or unclear questions, and more will allow the teacher and student to understand where they are in the current stages. With everyone's information, there will be a collaborative space of notes for revision. The teachers will also use this platform to input some information into the students accounts, and release notes when they want to. Eg: Inputting information so our system can generate a variety of different activities. </p>
  <p>This site also allows a platform where you can submit works for the teacher to mark in the submission page! These submissions will be your own work, not assigned work! Make sure to fully utilise this page! The teacher will use their account to mark your work and give feedback! Be sure to check the submission page often! Each teacher will give their marks back at a maximum of a 2 weeks after a student had first entered their work! When the assesment notification had been recieved and sent, this time lowers to 1 week! </p>
  <p><strong>Note:</strong> Teachers may be busy with the marking, and during the Year 12 HSC mocks and official exams, Year 11 and below classes will have these deadlines be increased to 1 week alongside the assigned weeks maximum. So year11 students who have an exam going on will have to wait 2 weeks. Year 12 students time will decrease by 2  days, including the holidays and/or weekends.</p>
  <p>Click on the folders to enter you subjects! The structure will be assigned directly, so new folders do not need to be made.</p>  
  <p></p>
  <p></p>
  <p></p>
  <h4>Subject list</h4>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chemistry&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;English</p>
  <div class="logos-container">
    <div class="logo">
      <a href="{% url 'eduprod:chemistry' %}">
        <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
      </a>
    </div>
    <div class="logo">
      <a href="{% url 'eduprod:english' %}">
        <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
      </a>
    </div>
  </div>


</body>
{% endblock %}
</html>
