{% extends "eduprod/layout.html" %}
{% load static %}

{% block navbar %}
<!-- This will block the content that I put this in under variable navbar, and I will input the code of the navbar, changing the color when clicked on this site. -->
<ul>
  <!-- This can be seen as Tests is now listed as active -->
    <li><a href="{% url 'eduprod:home' %}">Home</a></li>
    <li><a class="active" href="{% url 'eduprod:tests' %}">Tests</a></li>
    <li class="Subjects">
        <a href="javascript:void(0)" class="dropbtn">Subjects</a>
        <div class="dropdown-content">
            <a href="{% url 'eduprod:chemistry' %}">Chemistry</a>
            <a href="{% url 'eduprod:english' %}">English</a>
        </div>
    </li>
    <li><a href="{% url 'eduprod:submit_essay' %}">Submission</a></li>
</ul>
{% endblock %}
{% block body %}
<body>

    <div class="logos-container">
      <div class="logo">
        <a href="{% url 'eduprod:index' %}">
          <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
        </a>
      </div>
      <div class="logo">
        <a href="{% url 'eduprod:engmod1' %}">
          <img src="{% static 'eduprod/images/folder.png' %}" alt="Logo">
        </a>
      </div>
    </div>
  
    <h3>Sticky Navigation Bar Example</h3>
    <p>The navbar will <strong>stick</strong> to the top when you reach its scroll position.</p>
    <p><strong>Note:</strong> Internet Explorer does not support sticky positioning, and Safari requires a -webkit- prefix.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  </body>

  
{% endblock %}